.hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../../static/images/wis.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.textContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.path {
  position: absolute;
  top: -2rem;
  left: -10rem;
}

.leadershipTitle {
  margin-bottom: 6.7rem;
}

.peopleContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advisorsSection {
  position: relative;
  padding: 12rem 4rem;
  overflow: visible;
}

.mountains img {
  position: absolute;
  min-width: 100vw;
  top: 29rem;
  left: calc(-50vw + 50%);
}

@media all and (max-width: 968px) {
  .imageContainer {
    justify-content: center;
  }
}

@media all and (max-width: 540px) {
  .hero {
    background-position: 0 0;
    background-size: cover;
  }
  .advisorsSection {
    padding: 6rem 0;
  }
  .peopleContainer {
    justify-content: center;
  }

  .mountains img {
    display: none;
  }
  .path {
    display: none;
  }
}
