.hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../../static/images/wis.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.textContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

/* .peopleContainer {
  display: flex;
  justify-content: space-between;
} */

@media all and (max-width: 968px) {
  .imageContainer {
    justify-content: center;
  }
}

@media all and (max-width: 540px) {
  .hero {
    background-position: 0 0;
    background-size: cover;
  }
}
