.hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../../static/images/wis.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

@media all and (max-width: 540px) {
  .hero {
    background-position: 0 0;
    background-size: cover;
  }
}
