.hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../../static/images/heroTriangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  min-height: 63.4rem;
}

.textContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.triangleImage {
  max-width: 50rem;
}

@media all and (max-width: 968px) {
  .imageContainer {
    justify-content: center;
  }

  .triangleImage {
    max-width: 24rem;
    margin-bottom: 2.5rem;
  }
}

@media all and (max-width: 540px) {
  .hero {
    background-position: -200% 0;
    background-size: cover;
  }
}

@media all and (max-width: 370px) {
  .hero {
    background-position: -50% 0;
    background-size: cover;
  }
}
