html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em,
i {
  font-style: italic;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  text-decoration: none;
  background: transparent;
  color: inherit;
}
:focus {
  outline: none;
}
textarea,
select {
  vertical-align: middle;
  appearance: none;
  outline: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* CSS RESET END */

h1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 7.2rem;
  font-family: "montserratblack";
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.8px;
  line-height: 3.2rem;
  font-family: "montserratextrabold";
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.67px;
  line-height: 3.2rem;
  font-family: "merriweatherbold";
  margin-bottom: 3.2rem;
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.67px;
  line-height: 3.2rem;
  font-family: "merriweatherbold";
  margin-bottom: 3.2rem;
}

p {
  font-family: "montserratlight";
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.53px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.box-wide {
  width: 92%;
  margin: auto;
  max-width: 132rem;
}

@media all and (-ms-high-contrast: none) {
  .box-full {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .box-half {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .box-third {
    width: 33.333%;
    float: left;
    box-sizing: border-box;
  }
  .box-two-thirds {
    width: 66.66%;
    float: left;
    box-sizing: border-box;
  }
  .box-quarter {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .box-three-quarters {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }

  .column-grid {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .column-grid > .box-quarter {
    width: calc(25% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .column-grid > .box-third {
    width: calc(33.333% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .column-grid > .box-two-thirds {
    width: calc(66.66% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .column-grid > .box-full {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .column-grid > .box-half {
    width: calc(50% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
  }
  .column-grid > .box-three-quarters {
    width: calc(75% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @media all and (max-width: 768px) {
    .box-third,
    .box-quarter {
      width: 50%;
    }
    .box-two-thirds,
    .box-three-quarters {
      width: 100%;
    }

    .column-grid > .box-third,
    .column-grid > .box-quarter {
      width: calc(50% - 3rem);
    }
    .column-grid > .box-two-thirds,
    .column-grid > .box-three-quarters {
      width: calc(100% - 3rem);
    }
  }

  @media all and (max-width: 540px) {
    .box-third,
    .box-quarter,
    .box-half {
      width: 100%;
    }

    .column-grid > .box-third,
    .column-grid > .box-quarter,
    .column-grid > .box-half {
      width: calc(100% - 3rem);
    }
  }
}

@supports (display: grid) {
  .column-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1rem;
  }
  .box-quarter {
    grid-column: span 3;
  }
  .box-third {
    grid-column: span 4;
  }
  .box-half {
    grid-column: span 6;
  }
  .box-two-thirds {
    grid-column: span 8;
  }
  .box-full {
    grid-column: 1 / -1;
  }

  @media all and (max-width: 990px) {
    .box-third,
    .box-two-thirds {
      grid-column: 1/-1;
    }

    .box-quarter {
      grid-column: span 4;
    }
  }

  @media all and (max-width: 968px) {
    .box-third,
    .box-two-thirds,
    .box-half {
      grid-column: 1 / -1;
    }

    .box-quarter {
      grid-column: 1 / 6;
    }
  }

  @media all and (max-width: 540px) {
    .box-quarter,
    .box-third,
    .box-half,
    .box-two-thirds {
      grid-column: 1 / -1;
    }

    .box-wide {
      width: 95%;
    }
  }
}

@media all and (max-width: 768px) {
  /* //??  all*/
  h1 {
    font-size: 4rem;
    letter-spacing: 1.33px;
    line-height: 4.8rem;
  }
  h2 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media all and (max-width: 540px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 1.32px;
    line-height: 4.8rem;
  }
  /* //?? */
  h2 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  /* //?? */
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 1.6rem;
    letter-spacing: 0.53px;
    line-height: 2.4rem;
  }
}
