section,
section.black,
section.white {
  padding: 9rem 10rem;
}

section.whiteTEC {
  background-color: #fff;
  color: black;
  padding: 9rem 5rem;
}

section.white {
  background-color: #fff;
  color: black;
}

section.black {
  background-color: #13100e;
  color: white;
}

.spacer {
  height: 12rem;
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}

.showOnSmallTablet {
  display: none;
}

.hideOnSmallTablet {
  display: block;
}

@media all and (max-width: 1024px) {
  section.black {
    padding: 8rem 4rem;
  }
  section.white,
  section.whiteTEC {
    padding: 8rem 0;
  }
}

@media all and (max-width: 968px) {
  .showOnSmallTablet {
    display: block;
  }
  .hideOnSmallTablet {
    display: none;
  }
}

@media all and (max-width: 540px) {
  section.black {
    padding: 6rem 2rem;
  }
  section.white {
    padding: 6rem 0;
  }
  .noWrap {
    white-space: inherit;
  }
}
