.sectionTitle {
  margin-bottom: 12.2rem;
}

.greenDownArrow {
  display: none;
}

.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.personContainer {
  display: flex;
  min-width: 17.2rem;
  margin-bottom: 6.8rem;
}

.person {
  position: relative;
  max-width: 10rem;
  cursor: pointer;
  pointer-events: none;
}

.name {
  pointer-events: none;
}

.name h5 {
  position: relative;
  font-family: "montserratextrabold";
  font-size: 1.6rem;
  letter-spacing: 0.53px;
  line-height: 1.9rem;
  pointer-events: none;
}

.close {
  display: none;
}

.blackTriangle {
  visibility: hidden;
  position: absolute;
  transform: rotate(90deg);
  top: calc(100% + 1rem);
  left: calc(15%);
}

.reverseBlackTriangle {
  visibility: hidden;
  position: absolute;
  transform: rotate(-90deg);
  top: calc(-100%);
  left: calc(15%);
}

.personModal_name {
  color: #2cc84d;
  font-family: "montserratextrabold";
  font-size: 2.4rem;
  letter-spacing: 0.8px;
  line-height: 2.9rem;
  margin-bottom: 1.6rem;
  min-width: 20rem;
}

@media all and (min-width: 1025px) {
  .personContainer:hover .name {
    color: #2cc84d;
  }

  .personModal {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: #13100e;
    width: 100%;
    color: #fff;
    padding: 3rem;
    left: 0;
  }

  .personContainer:hover .personModal {
    visibility: visible;
  }

  .personContainer:hover .blackTriangle {
    visibility: visible;
  }

  .personContainer:hover .reverseBlackTriangle {
    visibility: visible;
  }
}

@media all and (max-width: 1024px) {
  .personModal {
    display: none;
  }

  .reversePersonModal {
    display: none;
  }

  .greenUpArrow {
    display: none;
  }

  .personContainer {
    cursor: pointer;
  }

  .info {
    display: none;
  }

  .black .name {
    color: #2cc84d;
  }

  .showPersonModal.personModal {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #13100e;
    width: 100%;
    color: #fff;
    padding: 3rem;
    left: 0;
  }

  .showBlackTriangle.blackTriangle {
    visibility: visible;
  }

  .showBlackTriangle.reverseBlackTriangle {
    visibility: visible;
  }
}

@media all and (max-width: 768px) {
  .sectionTitle {
    margin-bottom: 6.2rem;
  }

  .personContainer {
    min-width: 15.66rem;
  }
}

@media all and (max-width: 580px) {
  .showPersonModal.personModal {
    display: none;
  }

  .showBlackTriangle.blackTriangle {
    visibility: hidden;
  }

  .showBlackTriangle.reverseBlackTriangle {
    visibility: hidden;
  }

  .sectionTitle {
    margin-bottom: 4rem;
  }

  .peopleContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .personContainer {
    display: block;
    margin-bottom: 2.5rem;
  }

  .person {
    max-width: 100%;
  }

  .name {
    pointer-events: none;
  }

  .greenDownArrow {
    position: relative;
    display: block;
    padding-right: 2.4rem;
    pointer-events: none;
  }

  .greenUpArrow {
    position: relative;
    display: block;
    padding-left: 2.4rem;
    /* transform: rotate(180deg); */
    pointer-events: none;
  }

  .black {
    background-color: #000;
    color: #fff;
    padding: 1.6rem 0;
    padding-right: 1.6rem;
    margin-bottom: 2.5rem;
  }

  .person {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 2.5rem;
    pointer-events: none;
  }

  .black > .person {
    margin-bottom: 1.7rem;
  }

  .info {
    display: block;
    padding-left: 2rem;
  }
}
