.container {
  margin: 5rem 9.2rem;
}

.logo {
  margin-bottom: 3.6rem;
}

.highlight {
  font-family: "montserratbold";
}

.textContainer {
  margin-bottom: 5.6rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  max-width: 36.3rem;
}

.label {
  position: relative;
  margin-bottom: 3.47rem;
}

.label:nth-child(4) {
  margin-bottom: 6.5rem;
}

.label::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: -6.73px;
  left: 0;
}

.field {
  position: relative;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: white;
}

.field::placeholder {
  color: white;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

@media all and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media all and (max-width: 968px) {
  .textContainer {
    margin-bottom: 2.4rem;
  }

  .formContainer {
    margin: 0;
    margin-bottom: 5.6rem;
  }
  .newsletterContainer {
    margin-bottom: 8rem;
  }
}

@media all and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 540px) {
  .textContainer p {
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 2.4rem;
  }
}

@media all and (max-width: 350px) {
  .footer p {
    font-size: 11px;
  }
}
