.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBox {
  position: relative;
  z-index: 1;
}

.text {
  margin-bottom: 4rem;
}

.buttons {
  display: flex;
}

@media all and (max-width: 540px) {
  .container {
    min-height: 38rem;
  }
  .buttons {
    display: block;
  }
}
