.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBox {
  position: relative;
  z-index: 1;
}

.specialTitle {
  font-size: 4rem;
  font-family: "montserratlight";
  letter-spacing: 1.33px;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

.highlight {
  font-family: "montserratextrabold";
}

.text {
  margin-bottom: 4rem;
}

.buttons {
  display: flex;
}
.btn {
  border-radius: 0;
  height: 5rem;
  min-width: 18.5rem;
  border: 2px solid #2cc84d;
  letter-spacing: 0.53px;
  line-height: 1.9rem;
  font-family: "montserratbold";
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 2.4rem;
}

.btnFull {
  color: white;
  background-color: #2cc84d;
}

.btnEmpty {
  color: #2cc84d;
  background-color: transparent;
}

@media all and (max-width: 768px) {
  .specialTitle {
    font-size: 2.4rem;
    letter-spacing: 0.8px;
    line-height: 2.9rem;
  }
}

@media all and (max-width: 540px) {
  .container {
    min-height: 38rem;
  }
  .buttons {
    display: block;
  }
  .btn {
    width: 100%;
    margin-bottom: 1.6rem;
    margin-right: 0;
  }

  .btn:nth-child(2) {
    margin-bottom: 0;
  }

  .textBox h4 {
    margin-bottom: 6rem;
  }
}
@media all and (max-width: 370px) {
  .specialTitle {
    font-size: 2.1rem;
  }
}
