.navbar {
  display: flex;
  justify-content: space-between;
  height: 11rem;
  align-items: center;
}

.menu {
  display: flex;
}

.menuItem {
  font-family: "montserratregular";
  font-size: 1.6rem;
  letter-spacing: 0.53px;
  line-height: 1.9rem;
  margin-left: 2.4rem;
  color: "#000";
  cursor: pointer;
}

.active {
  color: #2cc84d;
  font-family: "montserratbold";
}
