.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 27rem;
  position: relative;
  padding: 0 1rem;
}

.path {
  position: absolute;
  top: -15rem;
}

.image {
  position: relative;
}

.name {
  font-size: 24px;
  font-family: "montserratbold";
  letter-spacing: 0.8px;
  line-height: 29px;
}

.position {
  color: #a4a4a4;
  font-size: 1.5rem;
  font-family: "montserratbold";
  letter-spacing: 0.5px;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.3rem;
  letter-spacing: 0.43px;
  line-height: 2rem;
}

@media all and (max-width: 1420px) {
  .container {
    flex: 0 1 24rem;
  }
}

@media all and (max-width: 1275px) {
  .container {
    flex: 1 1 35rem;
  }

  .container:first-child {
    margin-bottom: 6rem;
  }

  .container:nth-of-type(odd) {
    padding-right: 2rem;
  }

  .container:nth-of-type(even) {
    padding-left: 2rem;
  }
}

@media all and (max-width: 1024px) {
  .container {
    flex: 1 1 30rem;
  }
}

@media all and (max-width: 768px) {
  .container {
    flex: 1 1 32rem;
    margin-bottom: 6rem;
  }
  .container:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: 768px) {
  .path {
    display: none;
  }
}
