.container {
  position: relative;
  margin: 4rem 0 20rem 3rem;
}

.path {
  position: absolute;
  bottom: -25rem;
  left: -13rem;
}

.personWrapper {
  display: flex;
  position: relative;
  max-width: 92rem;
}

.image {
  margin-right: 8.8rem;
}

.name {
  margin-bottom: 1.6rem;
}

.position {
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 32px;
}

@media all and (max-width: 1200px) {
  .personWrapper {
    flex-direction: column;
    max-width: 72rem;
  }

  .image {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

@media all and (max-width: 1024) {
  .container {
    margin: 0;
    margin-bottom: 20rem;
  }
}

@media all and (max-width: 768px) {
  .path {
    top: -14rem;
  }
  .container {
    margin-bottom: 4rem;
  }
}
